html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}body{color:#000;font-size:75%;font-family:'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;line-height:1.5em}html>body{font-size:12px}strong,dt{font-weight:bold}em{font-style:italic}blockquote{margin:1.5em;color:#0000;font-style:italic}h1,h2,h3,h4,h5,h6{font-weight:normal}h1{font-size:3em;line-height:1;margin-bottom:0.5em}h2{font-size:2em;margin-bottom:0.75em}h3{font-size:1.5em;line-height:1;margin-bottom:1em}h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em}h5{font-size:1em;font-weight:bold;margin-bottom:1.5em}h6{font-size:1em;font-weight:bold}p,.content ul,.content ol,.content dl{font-size:1em;margin:1.5em 0}p+p{text-indent:1em;margin-top:-1.5em}p.intro{margin-top:0}p img{float:left;margin:1.5em 1.5em 1.5em 0;padding:0}p img.right{float:right;margin:1.5em 0 1.5em 1.5em}.small{font-size:.8em;margin-bottom:1.875em;line-height:1.875em}.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em}span.amp{font-family:Baskerville,"Goudy Old Style",Palatino,"Book Antiqua",serif;font-style:italic}ul{list-style:circle}ul,ol,dl{margin:0;padding:0}.box{padding:1.5em;margin-bottom:1.5em}ul.horizontal{float:left;list-style:none}ul.horizontal li{float:left}ul.horizontal:after{clear:left}.column{display:inline;float:left;margin-left:10px;margin-right:10px}.alpha{margin-left:0}.omega{margin-right:0}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}.clearfix{display:block}

body {position:relative}

/*Forms*/
fieldset {text-align:left;border:none}
  fieldset ol,fieldset ul {padding:0;list-style:none}
    fieldset li {padding-bottom:1.1em;float:none;clear:left}
      label {padding-top:.45em;float:left;width:7em;margin-right:1em;font-weight:bold}
        form .guidance {font-weight:normal}
      input {position:relative;top:-.2em}
      li.button input {margin:-.1em 0 0 8.7em}
    fieldset.checkboxes li {clear:both;padding:.75em}
      fieldset.checkboxes label {margin:0 0 0 1em;width:20em}
      fieldset.checkboxes input {float:left}

/*Messages (errors)*/
div.success{background-color:#00AF2B}
div.error{background-color:#860000;color:#fff}
div.notice{background-color:#ffffcc}
  .error h3{color:red}
  .success h3{color:#CF6}
  div.success ul,div.error ul,div.notice ul{list-style:none}

/*Type colours*/
body {color:#111}
  h1,h2,h3,h4,h5 {color:#222}
  a:link {color:#222}
  a:visited {color:#333}
  a:active,a:hover,a:focus {color:#000}

/*Structure*/
  .container {width:960px;margin:1.5em auto}

/*Tables*/
  table {width:100%;margin:-1px 0 17px 0;border:1px solid #ddd;border-right:none}
    thead tr {border-bottom:1px solid #aaa}
      thead th {border-right:1px solid #ddd}
    tbody tr {border-bottom:1px solid #ddd}
      td, th {padding:0 10px;height:35px;text-align:center;vertical-align:middle}
      tbody td {border-right:1px solid #ddd}
      td.heat-number {font-weight:bold;font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;background-color:#fff;border-bottom:1px solid #aaa}
      td.copy, th.copy {text-align:left}
      td.graph {width:100px;position:relative}
        .graph svg {margin:0 auto}
      tr.last {border-bottom:1px solid #aaa}
  /*Colours*/
  .pink {background-color:#FFE0F4}
  tr.pink {background: -webkit-gradient(linear, left top, left bottom, from(#FFE0F4), color-stop(0.6, #fff))}
  .blue {background-color:#E9FFFA}
  tr.blue {background: -webkit-gradient(linear, left top, left bottom, from(#E9FFFA), color-stop(0.6, #fff))}
  .yellow {background-color:#FFFEE3}
  tr.yellow {background: -webkit-gradient(linear, left top, left bottom, from(#FFFEE3), color-stop(0.6, #fff))}

/*Wave tooltip*/
div.wave {position:absolute;top:auto;left:auto;margin:-135px 0 0 -325px;width:300px;height:90px;background-color:#fff;padding:9px;border:1px solid #ccc;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border-radius:6px;-moz-border-radius-bottomright:0;-webkit-border-bottom-right-radius: 0;border-radius-bottom-right:0}
  .wave div {position:relative}
/*  .wave table {width:;}*/