<div class="wave dialog">

  <div>

    <!-- <span class="inteference">Inteference</span> -->
    <table class="judge-scores">
      <tfoot>
        <tr>
          <th>Avg</th>
          <%= @wave.scores_with_judge.inject('') { |str,sc| str+"<th>#{sc[:judge_initials]}</th>" } %>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td class="average"><%= @wave.average %></td>
          <%= @wave.scores_with_judge.inject('') { |str,sc| str+"<td>#{sc[:amount]}</td>" } %>
        </tr>
      </tbody>
    </table>

  </div>

</div>
